body {
	font-family: 'Josefin Sans', sans-serif;
}

.landing-div {
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#header-text {
    font-size: 350%;
    margin-bottom: 10%;
}

#login-text {
    font-size: 120%;
    color: black;
}

.login-div {
	height: 80vh;
	justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

} */

.site-form {
	margin-top: 3%;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0 0 5px #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
	padding-top:2%;
	padding-bottom: 2%;
}

.site-form p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.site-form p input {
	border-radius: 5px;
}

body > div > form > div > p label {
	margin-bottom: 0;
	font-size: 85%;
}

.btn {
    font-family: 'Josefin Sans', sans-serif;
	align-items: center;
	padding: 3%;
	margin-top: 10px;
	background-color: #FFFFFF;
	border-radius: 50px;
	border: 1px solid #00000070;
	font-size: 13px;
	width: 40%;
}

.menu-div {
    height: 80vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.btn-menu {
    font-family: 'Josefin Sans', sans-serif;
    padding: 15%;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #00000070;
    font-size: 13px;
    width: 120%;
    margin-top: 50%;
}	