<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>Story-9 Rifqi</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
	<div class="landing-div">
		<h2>Story-9 Rifqi</h2>
		<h1 id="header-text">Ini Landing Page</h1>
		{% if not user.is_authenticated %}
		<a id="login-text" href="{%url 'homepage:loginpage' %}">Klik disini untuk Login</a>
		{% endif %}
		{% if user.is_authenticated %}
		<a id="login-text" href="{%url 'homepage:menupage' %}">Klik disini untuk menuju menu utama</a>
		{% endif %}
	</div>
</body>

