<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>Story-9 Rifqi</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
	<div class="login-div">
		 <h1>Login</h1>
		 <form class="site-form" action="{%url 'homepage:loginpage' %}" method="post">
		 	{% csrf_token %}
		 	<div id="flexbox-container">
		 	{{form.as_p}}
		 	</div>
		 	<input class="btn" type="submit" value="Login">
		 </form>
	 </div>
</body>
