<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>Story-9 Rifqi</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
	<div class="menu-div">
		<h3>Story-9 Rifqi</h3>
		{% if user.is_authenticated %}
		<h1>Welcome {{ user.username }}!</h1>
		<form class="logout-link" action="{%url 'homepage:logoutpage' %}" method="post">
			{% csrf_token %}
			<button class="btn-menu" type="submit">Logout</button>
		</form>
		{% endif %}
	</div>
	
</body>
